body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

main {
  text-align: center;
}

header {
  width: 100%;
  height: 80px;
  margin-top: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header h1 {
  margin: 0 auto;
}

header p {
  height: 20px;
  margin: 0;
}

main .main-container {
  width: 546px;
  height: 325px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

main .main-container .logo {
  width: 200px;
  height: 183px;
  position: absolute;
  top: 17%;
  left: 31%;
}

.language {
  position: absolute;
}
 .español {
  top: 0;
  right: 60%;
}

.ingles {
  top: 0;
  left: 60%;
}

.japones {
  top: 20%;
  right: 70%;
}

.aleman {
  top: 20%;
  left: 70%;
}

.ruso {
  top: 40%;
  right: 72%;
}

.frances {
  top: 40%;
  left: 72%;
}

.italiano {
  top: 60%;
  right: 70%;
}

.chino {
  top: 60%;
  left: 70%;
}

.portugues {
  top: 80%;
  right: 60%;
}

.polaco {
  top: 80%;
  left: 60%;
}

main .main-container .language a strong {
  display: block;
  color: #3366cc;
}

main .main-container .language a small {
  color: #54595d;
}

main .main-input {
  width: 396px;
  margin: 0 auto;
  margin-bottom: 20px;
  /* margin-top: 4px;
  margin-left: 140px; */
}

main .main-input-container {
  width: auto;
  border: 1px solid #a2a9b1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main .main-input input {
  margin: 0px 22px 0px 8px;
  font-size: 20px;
  height: 40px;
  width: 260px;
  outline: none;
  border: none;
}

main .main-input .search-language {
  /* border: 1px solid red; */
  width: 45px;
  height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #54595d;
}

main .main-input .search-button {
  /* border: 1px solid black; */
  width: 59px;
  height: 42px;
  border: none;
  border-radius: 0 2px 2px 0;
  background-color: #3366cc;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

main .main-button {
  width: 500px;
  height: 50px;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main .main-button hr {
  position: relative;
  width: 500px;
  top: 26px;
  z-index: 0;
  border: none;
  border-bottom: 1px solid #c8ccd1;
}

main .main-button button {
  position: absolute;
  z-index: 1;
  margin-left: -90px;
  width: 211px;
  height: 36px;
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  color: #36c;
  font-size: 13px;
}

main .main-hr {
  width: 95%;
  border: none;
  border-bottom: 1px solid #c8ccd1;
  margin-top: 26px ;
}

main .main-other {
  width: 100%;
  height: 430px;
  border: 1px solid red;
}