body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

header {
  width: 100%;
  height: 80px;
  margin-top: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header h1 {
  margin: 0 auto;
}

header p {
  height: 20px;
  margin: 0;
}

main .main-container {
  width: 546px;
  height: 325px;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

main .main-container .logo {
  width: 200px;
  height: 183px;
  position: absolute;
  top: 17%;
  left: 31%;
}

.language {
  position: absolute;
}
 .español {
  top: 0;
  right: 60%;
}

.ingles {
  top: 0;
  left: 60%;
}

.japones {
  top: 20%;
  right: 70%;
}

.aleman {
  top: 20%;
  left: 70%;
}

.ruso {
  top: 40%;
  right: 72%;
}

.frances {
  top: 40%;
  left: 72%;
}

.italiano {
  top: 60%;
  right: 70%;
}

.chino {
  top: 60%;
  left: 70%;
}

.portugues {
  top: 80%;
  right: 60%;
}

.polaco {
  top: 80%;
  left: 60%;
}

main .main-container .language a strong {
  display: block;
  color: #3366cc;
}

main .main-container .language a small {
  color: #54595d;
}